<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://JAVA.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Make_Board</display-name>
	<resource-ref>
		<res-ref-name>jdbc/dongeon_board</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>boardproject.filters.CharacterEncodingFilter</filter-class>
		
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>PostAddServlet</servlet-name>
		<servlet-class>boardproject.servlets.PostAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostAddServlet</servlet-name>
		<url-pattern>/board/add</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>PostViewServlet</servlet-name>
		<servlet-class>boardproject.servlets.PostViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostViewServlet</servlet-name>
		<url-pattern>/board/view</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>PostUpdateServlet</servlet-name>
		<servlet-class>boardproject.servlets.PostUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostUpdateServlet</servlet-name>
		<url-pattern>/board/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostUpdateServlet_2</servlet-name>
		<servlet-class>boardproject.servlets.PostUpdateServlet_2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostUpdateServlet_2</servlet-name>
		<url-pattern>/board/postupdate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostDeleteServlet</servlet-name>
		<servlet-class>boardproject.servlets.PostDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostDeleteServlet</servlet-name>
		<url-pattern>/board/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RepostServlet</servlet-name>
		<servlet-class>boardproject.servlets.RepostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RepostServlet</servlet-name>
		<url-pattern>/board/repost</url-pattern>
	</servlet-mapping>
	
</web-app>